<div class="file_properties file-upload">
    <p class="note">File formats (<?=implode(',', $info['extensions']) ?>), Max file size:<?=$info['max_file_size']?>   </p>

<? if($id&&$base_name&&!is_array($base_name)) {?>
<span class="file-name"><?=$base_name?></span><a target="_blank" class="button-secondary" href="<?=Router::url('/'.$info['folder'].$base_name)?>"><?=__('Download')?></a><?
echo  $html->link(__('Delete', true), array('action' => 'delete_field','file', $id,$field), array('class' => 'button-secondary'),__('Are you sure you want to delete this image?',true));
}?></div>

