<div class="logo_image file-upload input">
<?php if($info['width']>0&&$info['height']>0) { ?>
<p class="note image_desc">Image size <?=$info['width']?>px X <?=$info['height']?>px   </p>
<? } ?>
<? if(isset($id) && isset($base_name) && !is_array($base_name) && !empty($base_name)) {?>
<span class="image_base_name file-name"><?=$base_name?></span>
<a target="_blank" class="button-secondary" href="<?=Router::url('/'.$info['folder'].$base_name)?>"><?=__('Preview')?></a><?

if(!empty($controller)){
echo  $html->link(__('Delete', true), array('controller'=>$controller,'action' => 'delete_field','image',$id,$field), array('class' => 'button-secondary'),__('Are you sure you want to delete this image?',true));
}else{
    echo  $html->link(__('Delete', true), array('action' => 'delete_field','image',$id,$field), array('class' => 'button-secondary'),__('Are you sure you want to delete this image?',true));
}

}?>
</div>

