<?php echo $javascript->link('main'); ?>
<?php
//debug($templates);
?>
<script type="text/javascript">
    $(document).ready(function(){
                $('*:not(SelectList)').click(function(){
                        $('#logos_list_<?= $prefix ?>').hide();
                });
        $('#logos_list a img').each(function(){
            if(jQuery.browser.msie&&parseInt(jQuery.browser.version.substr(0, 1))<7&&$(this).attr('src').substring($(this).attr('src').length-3)=='png')
            {
                $(this).css({'filter':'progid:DXImageTransform.Microsoft.AlphaImageLoader (src=\''+$(this).attr('src')+'\',sizingMethod=\'scale\')'});
                $(this).attr('src','<?= Router::url('/css/img/') ?>blank.gif');
            }
        });
		
        $('#logos_list_<?= $prefix ?>  a').click(function()
        {
            img_w=$(this).find('img').width();
            img_h=$(this).find('img').height();
            $('#logos_list_<?= $prefix ?>').hide();
            $('.SelectedLogo_<?= $prefix ?>').html($(this).html());
            $('#<?= $template_id ?>').val($(this).attr('id'));
            loadTemplate($(this).attr('id'));
            //$('form #SelectTemplate option[value='+$(this).attr('id')+']').attr('selected','selected');
            return false;
        });

        $('#click_list_<?= $prefix ?>,.SelectedLogo_<?= $prefix ?>').click(function(){
            $('#logos_list_<?= $prefix ?>').toggle();
			
            return false;
        });
        

<?php if (!empty($current_template)) { ?>
                    var image_home_id='<?= $current_template ?>';
                    var image_template_home=$('#logos_list_<?= $prefix ?> > li > a[id="'+image_home_id+'"]').html();
                    $('.SelectedLogo_<?= $prefix ?>').html(image_template_home);
<?php } ?>
            });

</script>
<div class="UplaodLogo">
    <div class="ULogo">
        <div class="LogoSlect">
            <div class="SelectedLogo_<?= $prefix ?> SelectList SelectedLogo"><span class="no_logo"> No Template </span></div>
            <div class="ChangeLogo SelectList"><a href="#"  class="SelectList" id="click_list_<?= $prefix ?>">Select Form List</a></div>
            <div class="clear"></div>
        </div>
        <ul style="display:none;" id="logos_list_<?= $prefix ?>" class="SelectList">
            <?php //$templates=array('5.png','1.png','2.png','3.png','4.png') ?>
            <li class="no_logo"><a  href="#uboard" ><span class="no_logo"> No Template </span></a></li>
            <? foreach ($templates as $i => $template) { ?>
                <li>
                    <a  href="<?= $template['full_image'] ?>" id="<?= $template['key'] ?>" class="preview">
                        <img   alt="<?= $template['thumb_image'] ?>" src="<?= $template['thumb_image'] ?>" />
                    </a>
                </li>
            <? } ?>
        </ul>
    </div>
</div>




