/*	-------------------------------------------------------------
	Project Name:   Silvertrees Panel ( Improved version )
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	.developer3@silvertrees.net
	-------------------------------------------------------------	
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

* { margin:0; padding:0; }
a { text-decoration:none; outline:none; color:#4d4d4d }
a:focus { outline:none; }
a:hover { text-decoration:none; }
img { border:none; }
hr { border:0 #e3e7ef solid; border-top-width:1px; clear:both; height:0 }
h1, h2, h3, h4, h5, h6 { padding-bottom:5px; color:#444; font-weight:400 }
h1, h2 { font-size: 22px; margin: 10px 0 15px; }
h3 { font-size:18px }
h4 { font-size:16px }
h5 { font-size:14px }
h6 { font-size:12px }
blockquote { color:#003f74; font-size:14px; font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; margin:20px 0 }
button, input, select, textarea { font-family:Arial, Helvetica, sans-serif }
/*commen classes */
.clear { font-size:1%; clear:both; height:1%; overflow:hidden; line-height:1px }
.left { float:left; display:inline; }
.right { float:right; display:inline; }
.note { font-size:11px; color:#666; padding:3px 0; }
body { font:12px Helvetica, Arial, sans-serif; background:#fff url(admin/bg.gif) repeat-y; color:#4d4d4d; }
.wrap { width:998px; margin:0 auto }
.layout { padding-left:240px; }
.sidebar { margin-left:-240px; width:240px; padding-bottom:250px; }
.main { width:100%; float:left }
.logo { padding:30px 0; text-align:center; width:240px; }
.admin-bar { background-color:#E1DFE2; display: block; position: relative; color: #888; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); text-decoration: none; text-align: center; border: 1px solid #bcbcbc; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12); border:1px solid #d4d4d4; border-top:none; font-size:11px; height:28px; }
.admin-bar, .tab-bar, .responsive-tabs >ul, .responsive-tabs__heading { background-color:#eaeaeb; background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%); background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%); background-image: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%); background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%); background-image: linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%); }
.admin-bar .admin-actions { padding:8px 0; }
.admin-bar .admin-actions a { padding:10px 7px 10px 21px; font-size:11px; color:#333 }
.admin-bar .admin-actions a:hover { color:#000 }
.admin-bar .dashboard { background:url(admin/ico/dashboard.gif) no-repeat left; }
.admin-bar .colors { background:url(admin/ico/color.png) no-repeat left; }
.admin-bar .logout { background:url(admin/ico/logout.gif) no-repeat left; }
.welcome-msg { padding:0 15px }
.side-nav { padding:20px 0 40px; overflow:hidden; }
.side-nav ul { list-style:none; float:right; width:220px; }
.side-nav ul li { margin-bottom:1px; }
.side-nav li a { display:block; background:#222 url(admin/grad.png) repeat-x top; color:#fff; padding:10px 10px 10px 20px; text-transform:capitalize; font-weight:700; -webkit-transition: all .5s linear;
-moz-transition: all .5s linear;
-o-transition: all .5s linear;
transition: all .5s linear;
border-radius:3px 0 0 3px; -moz-border-radius:3px 0 0 3px; border-radius:3px 0 0 3px; -ms-border-radius:3px 0 0 3px }
.side-nav li a:hover { opacity:0.9; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; filter: alpha(opacity=90); }
.side-nav li a.current { background:#FFF; color:#353535; font-weight:700; text-shadow:none }
.side-nav ul.current { display:block }
.side-nav li ul { float:none; padding:6px 0; width:auto; display:none }
.side-nav li ul li a { display:block; background:none; color:#fff; padding:4px 20px; text-transform:capitalize; font-size:12px; font-weight:100; position:relative; -webkit-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; transition: all 0.15s linear; left:0 }
.development { padding:95px 0; overflow:hidden; }
.development a { display:block; float:right; }
.contents { padding:10px 20px 100px; }
.breadcrumbs { padding:5px 0 5px 20px; font-size:11px; }
.breadcrumbs a { color:#333; }
.breadcrumbs span { padding:0 5px; }
/*widgets*/
.widget { margin-bottom:30px; }
.widget-header { background:url(admin/grad.png) repeat-x top; text-align:center; font-size:17px; color:#FFF; padding:6px 15px; -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0; text-align:left; font-family: 'Oswald', sans-serif; }
.widget-content { border:1px solid #d4d4d4; border-top:0; padding:15px; -webkit-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; transition: all 0.15s linear; }
/*tables*/
.table { width:100%; font-size:12px; }
.table th { background: #e6eaed url(admin/tb-hd.gif) repeat-x bottom; }
.listing-table { border:1px solid #d4d4d4; border-collapse:collapse }
.listing-table th, .listing-table td { text-align:left; border:1px solid #dadada; border-collapse:collapse; border-left:0; border-right:0 }
.listing-table th { border-bottom:1px solid #a7abae; border-top:1px solid #FFF; font-size:12px; }
.listing-table th a { display:block; padding:5px 10px; text-shadow:0 1px 0 #FFF }
.listing-table td { padding:7px 10px; background:#fff; -webkit-transition: all .5s linear;
-moz-transition: all .5s linear;
-o-transition: all .5s linear;
transition: all .5s linear;
left:0 }
.listing-table tr td:first-child { text-align:center }
.listing-table tr td:first-child input { margin-right:0 }
.listing-table .odd td { background:#fff; }
.listing-table .multi-select { text-align:center; width:25px }
.listing-table .multi-select input { margin-right:0 }
tr:nth-child(even) td {
background:#edf1f4 url(admin/white.gif) repeat-x top;
}
.listing-table .selected td, .listing-table tr:hover td { background:#f2ffe5; }
.listing-actions { background: #e6eaed; border:1px solid #d4d4d4; padding:7px 10px; border-top:none; font-size:11px; border-radius:0 0 5px 5px; }
.listing-actions select { width:150px; border:1px solid #BBB; padding:2px; }
.listing-actions .btn { border:1px solid #fdfdfd; }
.listing-actions label { font-size:11px; display:inline; font-weight:100 }
.stacktable { width: 100%; }
.stacktable td { padding:5px }
.stacktable .st-head-row { padding-top: 1em; display:none }
.stacktable .st-head-row.st-head-row-main { font-size: 1.5em; padding-top: 0; }
.stacktable .st-key { width: 49%; text-align: right; padding-right: 1%; font-weight:700 }
.stacktable .st-val { width: 49%; padding-left: 1%; }
.stacktable.large-only { display: table; }
.small-only { display: none; }
/*filters*/
.filter-ico { display:block; background:url(admin/ico/filter.png) no-repeat left; padding-left:25px; font-weight:100; font-size:14px; line-height:18px; }
#filter { display:block; margin-bottom:15px; }
#filter .input { padding-bottom:5px; }
#filterform div { display:inline; float:left; margin-right:10px; }
#filterform label { font-size:11px; margin-top:5px; }
#filterform div.clear { display: block; float:none; margin-right:0px; }
#filterform div.select select { width:87px; font-size:11px; font-family:Arial; padding-left:3px; }
#filterform div.text input { width:65px; font-size:11px;   font-family:Arial; padding-left:3px; }
#FilterClear { display:inline-block; margin-left:5px; }
.filter-action { padding-top:33px; }
.filter-action input { float: left; font-weight: 700; padding: 7px 10px; }
/*paging*/
.paging { overflow:hidden; padding:10px 0 }
.paging ul { list-style:none; float:right; margin:0; padding:0; }
.paging ul li { cursor:pointer; margin:0; padding:0; float:left; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; margin: 1px 2px; display: inline-block; border: 1px solid #ddd; text-decoration: none !important; color: #717171 !important; text-shadow: white 0 1px 0; background-color: #f5f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#eaeaea)); background-image: -webkit-linear-gradient(top, #f9f9f9, #eaeaea); background-image: -moz-linear-gradient(top, #f9f9f9, #eaeaea); background-image: -ms-linear-gradient(top, #f9f9f9, #eaeaea); background-image: -o-linear-gradient(top, #f9f9f9, #eaeaea); background-image: linear-gradient(top, #f9f9f9, #eaeaea); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#eaeaea');
}
.paging ul li a { display:block; padding: 5px 10px; }
.paging ul li:hover, .paging ul li:focus { background-color: #fdfdfd; background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#fafafa)); background-image: -webkit-linear-gradient(top, #fefefe, #fafafa); background-image: -moz-linear-gradient(top, #fefefe, #fafafa); background-image: -ms-linear-gradient(top, #fefefe, #fafafa); background-image: -o-linear-gradient(top, #fefefe, #fafafa); background-image: linear-gradient(top, #fefefe, #fafafa); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#fafafa');
}
.paging ul li.current { -moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.75); -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.75); -o-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.75); box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.75); border-color: #505050 !important; color: #f2f2f2 !important; text-shadow: black 0 1px 0; background-color: #676767; background-image: -webkit-gradient(linear, left top, left bottom, from(#5f5f5f), to(#5c5c5c)); background-image: -webkit-linear-gradient(top, #5f5f5f, #5c5c5c); background-image: -moz-linear-gradient(top, #5f5f5f, #5c5c5c); background-image: -ms-linear-gradient(top, #5f5f5f, #5c5c5c); background-image: -o-linear-gradient(top, #5f5f5f, #5c5c5c); background-image: linear-gradient(top, #5f5f5f, #5c5c5c); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5f5f5f', EndColorStr='#5c5c5c');
padding: 5px 10px; }
/*grids*/
.grid { overflow:hidden; }
.grid .column { margin-right:2% }
.grid-x2 .column { width:48%; }
.grid-x3 .column { width:30%; }
/*forms*/
button { border:none; overflow:visible; background:none; cursor:pointer; }
.input { margin-bottom:15px; }
label { font-size:12px; font-weight:700; padding:5px 2px; display:block }
input, textarea, select { padding:5px; font-size:11px; color:#333; margin-right:7px; font-family:Arial, Helvetica, sans-serif, "Trebuchet MS"; }
.textarea textarea, .text input, .number input, .password input, .select select { resize:none; background:#fff; padding:7px 4px; border:none; border-right:1px solid #e1e1e1; border-left:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; width:250px; margin:3px 0; border: 1px solid #ccc; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); color: rgba(0, 0, 0, 0.75); font-size: 12px; -webkit-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; transition: all 0.15s linear; }
.textarea textarea:focus, .text input:focus, .password input:focus { background: #fafafa; border-color: #b3b3b3; border-color: rgba(82, 168, 236, 0.8); outline: 0; outline: thin dotted \9; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }
.checkbox label, .radio label { display:inline; }
.select select { cursor:pointer }
.select select option { padding:1px 4px; }
.textarea textarea { height:70px; }
.input label { font-size:12px; color:#333 }
div.error-message { color:#C60F13; font-size:11px; font-weight:700 }
input.form-error, textarea.input.form-error { border-color: #c60f13; background-color: rgba(198, 15, 19, 0.1); }
.buttons { background: #F1F1F1; border: 1px solid #D2D2D2; margin-bottom: 20px; padding: 11px; }
.btn { background:url(admin/grad.png) repeat-x top; font-size:11px; text-align:center; color:#FFF; border:0; padding:4px 7px; cursor:pointer }
.button-secondary, .confirm-action button { background:url(admin/white-grad.png) repeat-x scroll left top #F2F2F2; text-shadow: 0 1px 0 #FFF; font-size:12px; padding:3px 8px; border-radius: 5px; -webkit-border-radius:10px; border:1px solid #BBB; cursor:pointer; -webkit-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; transition: all 0.15s linear; }
.button-secondary:hover, .confirm-action button:hover { border-color: #b3b3b3; border-color: rgba(82, 168, 236, 0.8); outline: 0; outline: thin dotted \9; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }
.menu-options select { width:auto }
/*submit button*/
.submit { margin:20px 0; }
input.SaveAsNew:hover { background-color: #2383a0; border: 1px solid #1e728c; }
.submit input, .button-primary { background-color: #5da423; border: 1px solid #396516; }
.submit input:hover { background-color: #457a1a; }
.submit input:focus { -webkit-box-shadow: 0 0 5px #5da423, 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 0 5px #5da423, 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 0 5px #5da423, 0 1px 0 rgba(255, 255, 255, 0.5) inset; }
.file-upload a { margin:0 4px }
.file input { margin:7px 0 }
.file-name { background:#FEFFE8; border: 1px dotted #DDD; font-size: 10px; margin: 0 5px 5px 0; padding: 3px 6px; }
/*custom upload elements*/
.customfile-input { position: absolute; height:35px; left:0; width:250px; cursor: pointer; background: transparent; border: 0; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
z-index: 999; top:0 }
.customfile { cursor: pointer; overflow: hidden; position: relative; }
.customfile-feedback { display: block; font-size: 12px; font-style: italic; padding:4px; color:#333 }
.customfile-feedback-populated { font-style: normal; }
.customfile-button { border: 1px solid #999; background: #f0f0f0; font-size:12px; padding:3px; float: right; width: 50px; text-align: center; text-decoration: none; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.customfile-focus .customfile-button { outline: 1px dotted #ccc; }
.orders-view table td, .orders-view tr td:first-child { text-align:left }
.related-group { padding:15px 0; margin-bottom:50px }
.many .record { display:block; position:relative; background:#fafafa; border:1px dashed #ddd; margin-bottom:20px; padding:8px 15px; overflow:hidden; }
.many .record .input { float:left; margin-right:15px; margin-bottom:5px }
.many .record .input input { width:170px; }
.many .record .delete { background: url(admin/delete-ico.png) no-repeat scroll 0 0 transparent; cursor: pointer; height: 16px; position: absolute; right: 0; text-indent: -999999px; top: 0; width: 16px; }
.add { background:url(admin/ico/add-ico.png) no-repeat; display:block; line-height:24px; padding-left:30px; color:#666; font-size:18px; }
li.record.selected { background:#f2ffe5; }
/*map selector*/
.map-selector .button-secondary { margin:7px 15px; }
.map-box { border:1px solid #ddd; margin:15px 0 }
.map-popup { border:5px solid #ddd }
.map-popup .button-secondary { position: absolute; right: 195px; top: -44px; }
.checkgroup { height:80px; width:400px; overflow:auto; zoom:1; position:relative; border:1px solid #ccc; padding:10px; }
.checkgroup .checkbox { margin-top:5px; height:auto }
/*confirm messages*/
.confirm-message { background:url(admin/white-grad.png) repeat-x left bottom #FFF; border:1px solid #ddd; padding:15px 20px; margin:20px 0 }
.confirm-message h2 { font-weight:700; margin-bottom:10px; }
.confirm-message h3 { font-weight:700; margin-bottom:10px; font-size:22px; }
.confirm-message .delete-items { list-style:none; padding:10px 0 }
.confirm-message .delete-items span.one-item { display:inline; float:left; background:#fff; border:1px solid #d4d4d4; font-size:12px; font-weight:700; padding:5px 7px; margin:0 5px 5px 0; }
.confirm-message .delete-items span.one-item a { color:#333 }
.confirm-message .delete-items span.seprated-item { display:inline; float:left; font-size:14px; padding:5px 7px; }
.confirm-action { text-align:center; margin: 0 auto; overflow: hidden; text-align: center; width: 190px; }
.confirm-action button { padding:5px 25px; margin-right:10px; font-weight:700 }
/*payment block*/
.payment-block { margin-bottom:40px; }
.payment-gateways { margin-bottom:30px; }
.payment-gateways a:hover { text-decoration:none; }
.gateways-list { margin:10px 0; zoom:1; display:block; position:relative; }
.gateways-list table { margin:10px 0; }
.gateways-list table td { padding:4px; vertical-align:top }
.gateways-list table td .submit { padding-left:107px; padding-top:7px; }
.gateway-row { padding:5px 10px; margin-bottom:10px; zoom:1; background:#F4F4F4; }
.gateway-row h3 { width:165px; padding-left:35px; font-size:18px; font-weight:100; padding-top:6px; padding-bottom:6px }
.gateway-row .checkbox { padding-top:8px; margin-right:20px; margin-top:0 }
.payment-gateways .accordion-switch { font-size:16px; color:#333; background:#dbdbdb; height:19px; width:19px; text-align:center; font-weight:700; position:absolute; left:11px; top:11px; display:block; line-height:17px; zoom:1; text-decoration:none; }
.payment-gateways .Collapse { line-height:20px; }
.payment-details { background:#FFF; }
.payment-block .input { padding-left:120px; position:relative; }
.payment-block .input label { position:absolute; left:0; width:115px; margin:0 }
.payment-details-table { margin:10px 0 20px 0; border-bottom:1px solid #e3e3e3; }
.payment-details-table th, .payment-details-table td { text-align:left }
.payment-details-table caption { background:#1794C5; color:#FFF; padding:8px; font-size:13px; font-weight:700; text-align:center; }
.payment-details-table td, .payment-details-table th { background:#FFF; padding:5px 10px; vertical-align:top }
.payment-details-table td.title { font-weight:700; }
.payment-details-table .even td, .payment-details-table .even th { background:#f0f0f0 }
.payment-details-table .total td { font-size:13px; font-weight:700; border-top:3px double #ccc }
.crumbs { display: block; margin-left:10px }
.crumbs li { display: inline; }
.crumbs li.first { padding-left: 8px; }
.crumbs li a, .crumbs li a:link, .crumbs li a:visited { color: #666; display: block; float: left; font-size: 12px; margin-left: -13px; padding: 7px 17px 11px 25px; position: relative; text-decoration: none; }
.crumbs li a { background-image: url(admin/bg-crumbs.png); background-repeat: no-repeat; background-position: 100% 0; position: relative; }
.crumbs li a:hover { color: #333; background-position: 100% -48px; cursor: pointer; }
.crumbs li a:active, .crumbs li.active a { color: #333; background-position: 100% -96px; }
.crumbs li.first a span { height: 29px; width: 3px; border-left: 1px solid #d9d9d9; position: absolute; top: 0px; left: 0px; }
/* @group clearfix classes */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
ul#menu { list-style:none; margin-bottom:25px }
ul#menu li a.tabs-row { background:#E6EAED url(admin/arrow_closed.gif) no-repeat 10px 12px; margin: 5px 0; padding: 10px 25px; display:block }
ul#menu li a:hover.tabs-row { background-color:#EDF1F4; }
ul#menu li > ul { list-style:none; padding:0 10px; }

/*tabed area*/
.tab-bar { border:1px solid #D4D4D4; padding:10px 20px 0; margin-top:10px; height:34px; overflow:hidden; }
.tab-bar ul { list-style:none; }
.tab-bar li { display: inline; float: left; margin-bottom: -2px; margin-right: 5px; }
.tab-bar li a { background: none; border: 1px solid #DDD; display: block; font-weight: 700; line-height: 33px; padding: 0 15px; position:relative; cursor:pointer }
.tab-bar li a:hover, .tab-bar li a.active { background:#fff; border-bottom:1px solid #fff; }
.tab-content { border:1px solid #ddd; border-top:none; padding:10px 20px; margin-bottom:10px }
.responsive-tabs { margin-bottom:20px; }
.responsive-tabs >ul { border: 1px solid #D4D4D4; height: 26px; padding: 17px 20px 0; }
.responsive-tabs__heading { display: none; }
.responsive-tabs__list__item { display: inline; cursor:pointer; }
 @media (max-width: 767px) {
 .responsive-tabs__list {
display: none;
}
 .responsive-tabs__heading {
display: block;
cursor: pointer;
}
 .responsive-tabs__panel--closed-accordion-only {
display: none;
}
}
 @media (min-width: 768px) {
 .responsive-tabs__panel--closed-accordion-only {
display: block !important;
}
}
.responsive-tabs-wrapper { clear: both; zoom: 1; }
.responsive-tabs-wrapper:before, .responsive-tabs-wrapper:after { content: ""; display: table; }
.responsive-tabs-wrapper:after { clear: both; }
.responsive-tabs__list { font-size: 1.2em; margin: 2em 0 0 0; padding: 0; border-bottom: 1px solid #ddd; padding-bottom:11px; line-height: 1em; }
.responsive-tabs__list__item { background: #eee; padding: 10px 20px; margin-right:5px; border: 1px solid #ddd; font-size:12px; font-weight:700; line-height:18px; }
.responsive-tabs__list__item:hover { background: #efefef }
.responsive-tabs__list__item--active, .responsive-tabs__list__item--active:hover { background: #fff; border-bottom-color: #fff; }
 @media (max-width: 767px) {
 .responsive-tabs__heading {
 border: 1px solid #CCC;
 font-family: arial;
 font-size: 13px;
 font-weight: 700;
 padding: 10px;
 position: relative;
 margin:10px 0 0
}
 .responsive-tabs__heading:after {
 content:"";
 display: block;
 position: absolute;
 right: 20px;
 top: 40%;
 width: 0;
 height: 0;
 border-left: 6px solid transparent;
 border-right: 6px solid transparent;
 border-top: 6px solid #000;
}
 .responsive-tabs__heading:hover, .responsive-tabs__heading--active:hover {
background-color: #efefef;
}
 .responsive-tabs__heading--active {
background: #fff;
}
 .responsive-tabs__heading--active:after {
 border-bottom: 6px solid #000;
 border-top:0;
}
}
.ULogo { display:block; margin:0 0 10px; width:210px; }
.ULogo .LogoSlect { display:block; height:120px; padding-bottom:5px; }
.ULogo .LogoSlect .SelectedLogo { border:1px solid #DBDBDB; display:inline; float:left; height:100%; margin:1px; text-align:center; width:81%; overflow:hidden }
.ULogo .LogoSlect .SelectedLogo span { color:#34637C; display:block; font-size:18px; padding:50px 0; }
.ULogo .LogoSlect .ChangeLogo { background:#FFFFFF none repeat scroll 0 0; display:inline; float:left; height:100%; margin-left:1px; width:10%; }
.ULogo .LogoSlect .ChangeLogo a { background:transparent url(admin/arrow_down.png) no-repeat scroll center center; border:1px solid #DBDBDB; display:block; height:100%; margin:1px; padding:0 5px; text-indent:-9999px; width:100%; }
.ULogo .LogoSlect .ChangeLogo a:hover { border:2px solid #EEEEEE; margin:0; }
.ULogo ul { background:#FFFFFF none repeat scroll 0 0; border: 1px solid #ccc; display:block; height:265px; list-style-image:none; list-style-position:outside; list-style-type:none; overflow:auto; position:absolute; width:208px; z-index:100 }
.ULogo ul li { border-bottom:1px solid #DBDBDB; display:block; font-size:1%; text-align:center; }
.ULogo ul li img { padding:0; border:4px solid #fbfbfb }
.ULogo ul li.no_logo a { font-size:18px; padding:20px 0; }
.ULogo ul li.no_logo a:hover { text-decoration:none; }
.ULogo ul li a { display:block; padding:7px 0; }
.ULogo ul li a:hover { background:#F6F6F6 none repeat scroll 0 0; display:block; }
#preview { position:absolute; border:1px solid #ccc; background:#333; padding:5px; display:none; color:#fff; }
/*action*/
th.action { padding-left:10px }
ul.action { list-style:none; overflow:hidden; }
.action li { float:left; }
.action li a { display: block; float: left; font-weight: 700; line-height: 16px; padding-left: 22px; text-transform: capitalize; margin-right:10px; white-space:nowrap }
.Edit { background:url(admin/ico/edit.png) no-repeat left; }
.Delete { background:url(admin/ico/delete.gif) no-repeat left; }
.AddMenu { background:url(admin/ico/nav.png) no-repeat left center; }
.View { background:url(admin/ico/view.gif) no-repeat left center; }
.Reviews { background:url(admin/ico/review.png) no-repeat left center; }
.LoginAs { background:url(admin/ico/key.png) no-repeat left center; }
a.export-csv { background:url(admin/ico/xlsx_win.png) no-repeat left center; color: #333; display: block; font-size: 18px; height: 40px; line-height: 42px; margin: 10px 0; padding: 0 5px 0 43px; text-decoration: none; position:relative; left:0; }
.htmlexport {background:url(admin/ico/code.png) no-repeat left;}
a:hover.export-csv { color:#1a803d; }
.Download { background: url(admin/ico/download.png) no-repeat scroll left center; font-weight: 700; padding: 2px 10px 2px 20px; text-decoration: none; }
.side-nav li a, .widget-header, .btn { background-color:#3382ef; }
.side-nav li ul li a:hover { color:#ddd }
.submit input, input.SaveAsNew, .button-primary { -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.50); -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.50); box-shadow:0 1px 3px rgba(0, 0, 0, 0.50); background:#222 url(admin/large-button-overlay.png) bottom; border:1px solid rgba(0, 0, 0, 0.25); color:#FFF !important; cursor:pointer; display:inline-block; font-size:13px; line-height:1; overflow:visible; font-size: 14px; padding: 3px 16px; position:relative; text-decoration:none; text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25); width:auto; text-align:center; font-family: 'Oswald', sans-serif; line-height:23px; }
.submit input, .button-primary { background-color:#91BD09; }
.submit input:hover { background-color:#749A02; }
.submit input:active { background-color:#a4d50b; }
input.SaveAsNew { background-color:#0E59AE; margin:-52px 0 0 103px; float:left }
input.SaveAsNew:hover { background-color:#063468; }
input.SaveAsNew:active { background-color:#1169cc; }
span.sortHandle { padding:2px; margin: 5px; background: lightgray; border: 1px solid silver; cursor: move; font-size: 9px; float:left }
span.sortHandle.inactive { cursor: not-allowed; background: #ededed; color: #dadada; border: 1px solid #dadada; }
th.ajax-reorder a { float: left; }
th.ajax-reorder a.ajax-reorder { text-indent: -99999px; background: url('admin/ico/save.gif') no-repeat center center; }
tr.ui-sortable-placeholder { border: 3px dotted lightblue; background: lightcyan; visibility: visible !important; }
fieldset { padding:15px; margin:15px 0 }
fieldset legend { font-family: 'Oswald', sans-serif; font-size:17px; padding:0 8px; background:#fff }
/*uploader*/
.uploader { margin:15px 0; }
.bar-active { padding-top:49px; }
.navbar { position:fixed; top:0; left:0; width:100%; z-index:500; height:49px; background: url(admin/bar-bg.png) repeat-x; }
.navbar a, .navbar p { color:#999 }
.navbar p strong { color:#f5f5f5 }
.navbar a:hover { color:#f5f5f5 }
.navbar .brand { display: block; float: left; padding: 5px 20px; font-size: 20px; font-weight: 200; color: #777; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); width:200px; text-align:center; font-family:'Oswald', sans-serif }
.navbar ul { list-style:none; float:left; }
.navbar ul ul { position:absolute; left:0; top:30px }
.navbar ul li { float:left; display:inline; position:relative; background: url(admin/bar-list.png) no-repeat left; }
.navbar ul.nav > li:hover { box-shadow:1px 0px 8px rgba(0, 0, 0, 0.7) }
.navbar ul li a { display: block; font-size: 12px; line-height: 40px; padding: 0 15px; -webkit-transition: all .25s linear;
font-weight:700; -moz-transition: all .25s linear;
-o-transition: all .25s linear;
transition: all .25s linear;
}
.navbar ul li a.sub-nav { background: url(admin/sub-arrow.png) no-repeat right center; padding-right:30px; }
.dropdown-menu { background-clip: padding-box; background-color: #FFF; border: 1px solid #ccc; border-radius: 6px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); display: none; float: left; left: 0; list-style: none outside none; margin: 2px 0 0; min-width: 160px; padding: 5px 0; position: absolute; top: 100%; z-index: 1000; display:none }
.navbar ul li li { background:none; display:block; float:none; }
.navbar ul li li a { display:block; line-height:24px; color:#666 }
.navbar ul li li a:hover { background:#359BDB; color:#e1e1e1 }
.login-as { display: block; font-size: 12px; line-height: 40px; padding: 0 25px; background: url(admin/login-as.png) no-repeat left; }
.back-to { display: block; font-size: 12px; line-height: 40px; padding: 0 25px; background: url(admin/ico/back.png) no-repeat left; }
/*cake debug*/ 
.cake-sql-log { font-size:11px; background:#fff; margin:5px }
.tab-bar a.tabLink.error { background: #FFBFBF; color: darkred; }
.tab-bar a.tabLink.active.error { background: #fff; color: #f00; }
input.map-selector { margin-right: 10px; }
.sidr { display:none; position:absolute; position:fixed; top:0; height:100%; z-index:999999; width:250px; overflow-x:none; overflow-y:auto; background:#222; color:#fff; -webkit-box-shadow:inset 0 0 5px 5px #222; -moz-box-shadow:inset 0 0 5px 5px #222; box-shadow:inset 0 0 5px 5px #222 }
.sidr .sidr-inner { padding:0 0 15px }
.sidr.right { left:auto; right:-260px }
.sidr.left { left:-260px; right:auto }
#responsive-menu-button .line-bar { display: block; margin-bottom:3px; width: 18px; height: 2px; background-color: #f5f5f5; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
#mobile-header { display: none; overflow:hidden }


/*Responsive CSS*/
@media (max-width: 767px) {
body {
background:#fff;
min-width:320px
}
.listing-table, .listing-actions, .breadcrumbs {
display: none;
}
.stacktable.small-only {
display: table;
}
#mobile-header {
display: block;
}
.side-nav {
display:none
}
.sidebar {
margin:0;
padding:0;
width:auto;
float:none!important;
display:block;
background:#1b1b1b;
text-align:center;
overflow:hidden;
padding:0 10px;
height:55px;
}
.sidebar .logo {
display:block;
width:auto;
text-align:center;
float:right;
padding:13px 0
}
.nav-btn {
display:block;
background:#4d4d4d;
float:left;
float:left;
margin-top:15px;
}
.nav-btn a {
padding:6px 8px 3px;
display:block
}
.sidebar .logo img {
height:30px;
}
.sortHandle {
display:none;
}
.layout {
padding-left:0
}
.contents {
padding:10px
}
.sidr-class-options > a {
font-size:12px;
font-weight:700
}
.sidr-class-options ul li, .sidr-class-options ul {
border:none;
}
.sidr-class-options ul a {
font-size:11px;
}
.sidr ul {
list-style:none;
}
.sidr ul li {
margin-bottom:1px;
}
.sidr li a {
display:block;
background:#222 url(admin/grad.png) repeat-x top;
color:#fff;
padding:8px 10px 8px 20px;
text-transform:capitalize;
font-weight:700;
}
.sidr li a:hover {
opacity:0.9;
}
.sidr li a.current {
background:#FFF;
color:#353535;
font-weight:700;
text-shadow:none
}
.sidr ul.current {
display:block
}
.sidr li ul {
float:none;
padding:6px 0;
width:auto;
display:none
}
.sidr li ul li a {
display:block;
background:none;
color:#fff;
padding:4px 20px;
text-transform:capitalize;
font-size:12px;
font-weight:100;
position:relative;
}
h1, h2 {
margin: 0 0 10px;
}
.submit input {
margin:10px auto;
width:98%;
display:block;
float:none;
}
}

/*Print*/
@media print {
* { background:transparent!important; color:black!important; box-shadow:none!important; text-shadow:none!important }
pre, blockquote { border:1px solid #999; page-break-inside:avoid }
thead { display:table-header-group }
tr, img { page-break-inside:avoid }
img { max-width:100%!important }
@page {
margin:.5cm
}
p, h2, h3 { orphans:3; widows:3 }
h2, h3 { page-break-after:avoid }
}

#resource-container { overflow: auto; height: 200px; width:600px; border:1px solid #ddd; padding:5px; margin:5px 0 }
#resource-container li { padding:5px 2px; display:block }
#resource-container li a{ font-weight:700}
 #resource-container li:nth-child(even) {background:#edf1f4;}
#resource-container .highlight { background: magenta; color: yellow; }


.page-set, .clone-block { display:block; position:relative; background:#fafafa; border:1px dashed #ddd; margin-bottom:20px; padding:15px; }
.page-set .input, .clone-block .input { float:left; margin-right:40px; }
.page-set .input input, .clone-block .input input { width:170px; }
.delete-ico { position:absolute; top:0; right:0; cursor:pointer; }
.add-item, .AddItem { background:url(admin/ico/add-ico.png) no-repeat; display:block; line-height:24px; padding-left:30px; color:#666; font-size:18px; }
 