/*	-------------------------------------------------------
	Project Name //   ROF
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	.developer3@silvertrees.net  // 
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
    color: #666;
}

a:hover {
    text-decoration: none;
}

img {
    border: none;
}

hr {
    border: 0 #e3e7ef solid;
    border-top-width: 1px;
    clear: both;
    height: 0
}

p {
    padding-bottom: 7px;
    line-height: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px
}

h6 {
    font-size: 11px
}

h1:after,
.heading:after {
    background: #666;
    border: 1px solid #B8B8B8;
    content: "";
    height: 11px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 11px;
}

h1,
.heading {
    font-size: 20px;
    padding-left: 24px;
    position: relative;
    margin-bottom: 15px;
}

button {
    background: none;
    border: 0;
    overflow: visible;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer
}

body {
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
}

.note {
    font-size: 11px;
    color: #666
}

.wrap {
    width: 950px;
    margin: 0 auto
}

.clear {
    font-size: 1%;
    clear: both;
    height: 1%;
    overflow: hidden;
}

.left {
    float: left;
    display: inline;
}

.right {
    float: right;
    display: inline;
}

.corner-all {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.color-a {
    color: #0493e6;
}

/*buttons*/

.btn-a {
    display: inline-block;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    background: #9c9a9b url(img/buttons/btn-a.gif) repeat-x top;
    border: 1px solid #d7d7d7;
    line-height: 38px;
    padding: 0 15px;
    text-shadow: 1px 1px 1px #fff
}

.btn-b {
    display: inline-block;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    background: #fff url(img/buttons/btn-b.gif) repeat-x bottom;
    border: 1px solid #d7d7d7;
    line-height: 38px;
    padding: 0 15px;
    text-shadow: 1px 1px 1px #fff
}

body {
    color: #555;
    background: #d9d9d9
}

.header {
    background: #fff;
    padding: 10px;
    position: relative;
    margin: 10px 0 0;
    zoom: 1;
    overflow: hidden;
}

.header h2 {
    font-size: 39px;
    font-weight: 10;
    padding: 0 20px 0 0;
    white-space: nowrap
}

.header h3,
.header h3 a {
    color: #9A9A9A;
    font-size: 24px;
}

.header h3 {
    font-weight: 700;
    padding-right: 55px;
}

.header ul {
    list-style: none;
    float: right
}

.header ul li {
    display: inline;
    float: left;
    padding: 0 15px;
}

.header ul li span.dots {
    background: none repeat scroll 0 0 #666666;
    border: 1px solid #BBBBBB;
    display: block;
    font-size: 1%;
    height: 11px;
    margin: 8px 0;
    width: 11px;
}

.header ul li a {
    font-size: 24px;
    text-transform: uppercase
}

.logo {
    margin-right: 30px;
}

.logo img {
    border: 2px solid #d9d9d9;
    display: block
}

.header-meta {
    padding: 20px 0;
    width: 760px;
    overflow: hidden;
    text-align: right
}

.content {
    background: #fff;
    padding: 30px 40px;
    position: relative;
    display: block;
    min-height: 264px;
}

.portfolio {
    margin: 20px 0;
}

.portfolio .box {
    float: left;
    display: inline;
    margin: 6px
}

.portfolio a img {
    padding: 6px;
    border: 1px solid #ddd;
    display: block
}

.box-wrap {
    position: relative;
    float: left;
    overflow: hidden
}

.quick-form {
    background: #fff url(img/inner-shadow.gif) repeat-x top;
    border: 1px solid #e0e0e0;
    height: 35px;
    width: 180px;
    position: relative;
}

.quick-form input {
    padding: 8px 5px 8px 25px;
    font-size: 12px;
    width: 70px;
    position: absolute;
    left: 10px;
    top: 2px;
    border: none;
    outline: none
}

.quick-form input:focus {
    outline: none
}

.newsletters {
    margin: 8px;
    position: relative;
    padding-left: 150px;
}

.newsletters label {
    left: -170px;
    position: absolute;
    top: 10px;
}

.search-input {
    background: #fff url(img/icons/search-ico.gif) no-repeat left;
}

.mail-input {
    background: #fff url(img/icons/mail-ico.gif) no-repeat left;
}

.quick-form button {
    position: absolute;
    right: 0px;
    top: 2px;
}

.newsletters-form .btn-a {
    padding: 0 15px;
    font-size: 13px;
    line-height: 28px;
}

.main-nav {
    padding: 7px 10px;
    background: #fff;
    margin: 10px 0;
    position: relative;
    z-index: 20;
    zoom: 1
}

.main-nav ul {
    list-style: none;
    float: left;
    width: 930px;
    border-left: 1px solid #e6e6e6;
}

.main-nav ul li {
    display: inline;
    float: left;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
}

.main-nav ul li a {
    display: block;
    padding: 0 21px;
    line-height: 50px;
    font-weight: 700;
    color: #666
}

.main-nav ul li a:hover,
.main-nav ul li a.active {
    color: #000;
    background: #d9d9d9;
}

/* css submenu */

.main-nav ul ul {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    background: #fff;
    width: 200px;
    display: none;
    border: 1px solid #e6e6e6;
    top: 50px;
    z-index: 100
}

.main-nav ul ul li {
    display: block;
    float: none;
    border: none;
    border-bottom: 1px solid #e6e6e6;
}

.main-nav ul ul li.last {
    border-bottom: none
}

.main-nav ul ul li a {
    line-height: normal;
    padding: 7px 15px;
}

.main-nav ul ul ul {
    left: 201px;
    top: 0
}

.main-nav ul li:last-child ul,
.main-nav ul li.last-child ul {
    right: 0;
    left: auto;
}

.main-nav ul li:last-child ul ul,
.main-nav ul li.last-child ul ul {
    right: 201px;
    left: auto;
}

.main-nav ul.large-menu {
    left: -182px;
    width: 950px;
}

.main-nav ul.large-menu li {
    display: block;
    float: left;
    width: 235px;
}

/* tabs*/

.tabs-links {
    border-bottom: 1px solid #b8bbc1;
    border-left: 1px solid #ececec;
    height: 56px;
    position: relative;
    z-index: 5
}

.tabs-links li {
    list-style: none;
    float: left;
    border-right: 1px solid #ECECEC;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #b8bbc1;
}

.tabs-links li a {
    background: #d9d9d9;
    padding: 0 40px;
    line-height: 55px;
    display: block;
    color: #fff;
    font-weight: 700;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    font-size: 13px
}

.tabs-links li a:hover {
    background: #c4c4c4;
}

.tabs-links li.active {
    border-bottom: none
}

.tabs-links li.active a {
    line-height: 56px;
    background: #fff;
    color: #666;
    text-shadow: none
}

.tab-content {
    border: 1px solid #ececec;
    border-top: none;
    padding: 35px 40px;
    background: #e8e8e8 url(img/tabcontent-bg.gif) repeat-x top
}

.tab-content {
    line-height: 18px;
}

.tab-content h2 {
    margin-bottom: 15px
}

/*contents*/

.news-listing {
    padding-bottom: 40px;
    text-align: center;
    padding-top: 27px;
}

.snippets-box {
    margin-bottom: 30px
}

.post-img {
    padding: 5px;
    border: 1px solid #ddd;
}

.post-img.left {
    margin: 0 30px 15px 0
}

.post-img.right {
    margin: 0 0 15px 30px
}

.contact-form .input {
    display: block;
    margin: 0 15px 15px 0;
    position: relative;
}

.contact-form .textarea textarea {
    height: 80px
}

.contact-form .text input,
.contact-form .textarea textarea {
    background: none repeat scroll 0 0 #F8F7F7;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1) inset;
    display: block;
    font-size: 12px;
    margin: 3px 0;
    padding: 7px 10px;
    width: 300px;
}

.contact-form .text input {
    width: 90%;
}

.contact-form .text {
    width: 200px;
}

.contact-form .subject input {
    width: 611px;
}

.contact-form .textarea textarea {
    width: 611px;
}

.star {
    color: red;
    padding: 0 5px;
}

.snippets-box ul {
    margin: 15px 10px;
    list-style: none
}

.snippets-box li:after {
    background: #666;
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 8px;
}

.snippets-box li {
    padding-left: 24px;
    position: relative;
    margin-bottom: 7px
}

.items-block {
    margin-bottom: 15px;
}

.items-block .block-details a:first-child {
    font-size: 16px;
    margin-bottom: 15px;
    display: block;
    text-align: left
}

.items-block p {
    line-height: 16px;
}

.items-block img {
    padding: 4px;
    border: 1px solid #ddd;
    margin-right: 10px
}

.block-details {
    background: #EEE;
    overflow: hidden;
    padding: 10px;
    position: relative;
    float: left;
    width: 63%;
}

.block-details .btn-a {
/*
    bottom: 10px;
    position: unset;
    right: 10px;
*/
        float: right;
}


/*listing*/

.listing ul {
    list-style: none;
}

.listing-thumb a {
    margin-right: 25px;
    display: block
}

.gallery-view {
   padding-top: 27px;
}

.thumb-viewer {
    background: #fff;
    border: 1px solid #f1f1f1;
    width: 652px
}

.thumb-frame {
    background: #fff;
    padding: 8px;
    border: 1px solid #f1f1f1;
    margin-right: 25px;
    display: block
}

.gallery-view .listing-thumb a {
    border: none;
    padding: 0;
    margin: 0 auto;
    display: block
}

.reveal-modal {
    visibility: hidden;
    top: 100px;
    left: 50%;
    margin-left: -325px;
    width: 650px;
    background: #fff;
    position: absolute;
    z-index: 101;
    padding: 30px 20px 34px;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    -box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.reveal-modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: url(img/popup-bg.png);
    z-index: 100;
    display: none;
    top: 0;
    left: 0;
}

.reveal-modal .close-reveal-modal {
    font-size: 22px;
    line-height: .5;
    position: absolute;
    top: 8px;
    right: 11px;
    color: #aaa;
    text-shadow: 0 -1px 1px rbga(0, 0, 0, .6);
    font-weight: bold;
    cursor: pointer;
}

/*thumb-lsiting*/

.thumb-lsiting {
    float: right;
    overflow: hidden;
    width: 185px;
    margin-bottom: 20px
}

.thumb-lsiting h4 {
    margin-bottom: 10px
}

.thumb-lsiting ul {
    list-style: none;
    overflow: hidden;
}

.thumb-lsiting li {
    float: left;
    margin: 5px 0 8px 10px
}

.thumb-lsiting li a {
    display: block
}

.thumb-lsiting img {
    background: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    opacity: 0.9
}

.thumb-lsiting a:hover img {
    opacity: 1
}

.product-nav {
    margin-left: 605px;
    padding-top: 10px;
}

.product-nav a {
    background: url(img/icons/nav.png) no-repeat;
    height: 16px;
    width: 16px;
    display: block;
    text-indent: -99999px;
    float: left;
    margin-left: 5px
}

.product-nav a.next {
    background-position: -20px 0
}

.product-view .listing-thumb {
    background: url("img/shadows/large.png") no-repeat scroll center bottom transparent;
    float: left;
    padding-bottom: 14px;
    text-align: center;
    width: 655px;
    margin-top: 5px;
    height: 477px
}

.product-view .listing-thumb a {
    margin-right: 0
}

.pages-no {
    font-size: 15px;
    line-height: 14px;
    padding: 15px 10px 10px 20px;
}

.in-active {
    color: #999999
}

.paging {
    padding-top: 2px;
}

.paging ul {
    list-style: none;
}

.paging ul li {
    display: inline;
    float: left;
    padding: 0 1px;
}

.paging ul li a {
    display: block;
    height: 26px;
    width: 27px;
    text-align: center;
    background: url(img/paging.png) no-repeat;
    color: #717171;
    line-height: 26px;
}

.paging ul li.previous a,
.paging ul li.next a {
    font-size: 10px;
    font-weight: 700;
}

.paging ul li a:hover,
.paging ul a.current {
    background-position: 0 bottom;
    color: #f2f2f2;
}

.paging ul li.current {
    display: block;
    height: 26px;
    width: 25px;
    text-align: center;
    background: url(img/paging.png) no-repeat 0 bottom;
    color: #fff;
    line-height: 26px;
}

.gallery-description {
    margin: 20px 0;
    width: 650px;
}

.gallery-actions p {
    padding: 10px 70px
}

.footer {
    background: #fff;
    margin: 10px 0 0;
}

.copyrights {
    padding: 18px 10px 0;
    font-size: 11px;
}

.copyrights p span {
    padding: 0 5px;
}

.validate-email-error {
    background: url(img/error.png) no-repeat left 2px;
    padding: 2px 0 2px 25px;
    color: #c82100;
    font-size: 12px;
    font-weight: 700;
}

.form-succ {
    background: url(img/tick.png) no-repeat left 4px;
    padding: 2px 0 2px 25px;
    color: green;
    font-size: 12px;
    font-weight: 700;
}

.recent-posts {
    padding-top: 20px
}

.socialbar {
    position: absolute;
/*    right: 35px;*/
    right: 69px;
    top: 20px
}
.socialbar > img {
        all: unset !important;
}

.captcha img {
    display: block
}

.socialbar span {
    float: left
}
.catClas {
    
    right: 58px;
}
.st_twitter_large .stLarge {
    background: url(img/social.png) no-repeat 0 0!important;
    height: 30px;
    width: 30px;
    display: block;
    text-indent: -99999px;
}

.st_facebook_large .stLarge {
    background: url(img/social.png) no-repeat -36px 0 !important;
    height: 30px;
    width: 30px;
    display: block;
    text-indent: -99999px;
}

.st_linkedin_large .stLarge {
    background: url(img/social.png) no-repeat -72px 0!important;
    height: 30px;
    width: 30px;
    display: block;
    text-indent: -99999px;
}

.st_sharethis_large .stLarge {
    background: url(img/social.png) no-repeat -144px 0!important;
    height: 30px;
    width: 30px;
    display: block;
    text-indent: -99999px;
}

.st_email_large .stLarge {
    background: url(img/social.png) no-repeat -109px 0!important;
    height: 30px;
    width: 30px;
    display: block;
    text-indent: -99999px;
}

/*home gallery*/

.home-gallery {
    position: relative;
    overflow: hidden;
    margin-bottom: 35px
}

.home-gallery .left-side {
    width: 345px
}

.home-gallery .gallery-top {
    margin-bottom: 11px;
}

.home-gallery .gallery-mid {
    margin-bottom: 7px;
}

.home-gallery .right-side {
    width: 298px
}

.home-gallery .righ-side .right-top {
    margin-bottom: 11px
}

.gallery-top,
.gallery-bottom,
.right-top,
.right-bottom {
    position: relative;
    overflow: hidden;
}

.sliding-box-wrap {
    position: absolute;
    bottom: 9px;
    left: 9px;
    right: 9px;
}

.sliding-box {
    background: url(img/sliding-box.png);
    color: #FFF;
    position: absolute;
    padding: 20px 4%;
    left: 0;
    bottom: 0;
    width: 92%;
}

.sliding-box a {
    display: block;
}

.img-x {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EAEAEA;
    display: block;
    padding: 8px;
}



.row {
    margin-left: -15px;
    margin-right: -15px;
    display: inline-block;
    width: 100%
}

.col-md-6 {
    width: 48%;
    float: left;
    margin-left: 10px;
}
