<div class="snippets index">
<h1><?php __('Snippets');?></h1>

<?php
//debug($snippets);
//echo $list->filter_form($modelName, $filters);
$fields=array(
	'Snippet.title' => array('edit_link' => array('action' => 'edit','%name%')),
	
);
$links = array(
	//$html->link(__('edit', true), array('action' => 'edit', '%name%'), array('class' => 'Edit')),
	
);

?>
<?= $list->adminIndexList($fields, $snippets, $links) ?></div>
