<div class="FormExtended">
<?php echo $form->create('NewsMessage');?>
	<?php
    
		echo $form->input('id', array('class' => 'INPUT'));
		echo $form->input('subject', array('class' => 'INPUT'));
		echo $fck->create('NewsMessage', 'html', $this->data['NewsMessage']['html'], 'Default', false, array('height' => 500));
	?>
<?php echo $form->submit(__('Submit', true), array('class' => 'Submit')) ?>
<?php echo $form->end();?>
<br />
    <?php echo $html->link('Export as HTML',array('action'=>'export',$id),array('class'=>'Csvexport'));?>
</div>
