<script type="text/javascript">
	$(document).ready(function(){
		$('.SubmitTemplate').click(function(){
			var template_id=$('#template_id').val()?$('#template_id').val():'-1';
			if(template_id!=-1 && template_id)
			{
				document.location.href='add/'+template_id+'/'
			}
			else
			{
				return false;
			}
		});
	})
</script>
<?
echo $form->input('template_id',array('label'=>'Select Newsletter Template','options'=>$newsletter_templates,'id'=>'template_id','empty'=>'[No Template]'));
?>
<div class="submit">
	<input type="button" class="Submit SubmitTemplate" value="Go" />
</div>
