<?php 
//debug($this);
echo $form->create('Seo',array('url'=> Router::url('delete',true) )); ?>
<div class="rounded-item config-msg">
    <b class="bl-corners"></b><b class="br-corners"></b>
    <div class="FormExtended confirm-message">
	<h3><?=__('Confirmation Message !',true)?></h3>
		<?php echo __('Are you sure you want to delete?'); ?>
	<div class='delete-items'>
	    <?php foreach($seos as $i=>$seo):?>
		<input type="hidden" value='<?=$seo['Seo']['id']?>' name='ids[]' />
		<span class='one-item'><?=$html->link($seo['Seo']['title'],array('action'=>'edit',$seo['Seo']['id']),array('target'=>'_blank'))?></span>
		<?php if(!empty ($seo[$i+1])) {?>
		    <span class="seprated-item">,</span>
		<?php } ?>
	    <?php endforeach;?>
	</div>	<div class="clear"></div>
    </div>
</div>

<div class="confirm-action">
    <button class="green-button" type="submit" name="submit_btn" value="yes" ><?=__('Yes',true)?></button>
    <button class="red-button" type="submit" name="submit_btn" value="no" ><?=__('No',true)?></button>
</div>

<?php echo $form->end(); ?>